
*.zip
data/undo_002
data/undo_001
*.sdi
*.pem
*.CSM
*.CSV
*.sock
*.ibd
*.000008
data/ibtmp1
data/binlog.000004
data/binlog.000005
data/binlog.000006
data/binlog.000007
data/binlog.index
data/ib_buffer_pool
data/ibdata1
data/binlog.000003
data/binlog.000002
data/binlog.000001
data/auto.cnf
data/\#innodb_temp/temp_9.ibt
*.ibt
data/\#innodb_redo/\#ib_redo43_tmp
data/\#innodb_redo/\#ib_redo42_tmp
data/\#innodb_redo/\#ib_redo41_tmp
data/\#innodb_redo/\#ib_redo40_tmp
data/\#innodb_redo/\#ib_redo39_tmp
data/\#innodb_redo/\#ib_redo38_tmp
data/\#innodb_redo/\#ib_redo37_tmp
data/\#innodb_redo/\#ib_redo36_tmp
data/\#innodb_redo/\#ib_redo35_tmp
data/\#innodb_redo/\#ib_redo34_tmp
data/\#innodb_redo/\#ib_redo33_tmp
data/\#innodb_redo/\#ib_redo32_tmp
data/\#innodb_redo/\#ib_redo31_tmp
data/\#ib_16384_0.dblwr
data/\#ib_16384_1.dblwr
data/\#innodb_redo/\#ib_redo12
data/\#innodb_redo/\#ib_redo13_tmp
data/\#innodb_redo/\#ib_redo14_tmp
data/\#innodb_redo/\#ib_redo15_tmp
data/\#innodb_redo/\#ib_redo16_tmp
data/\#innodb_redo/\#ib_redo17_tmp
data/\#innodb_redo/\#ib_redo18_tmp
data/\#innodb_redo/\#ib_redo19_tmp
data/\#innodb_redo/\#ib_redo20_tmp
data/\#innodb_redo/\#ib_redo21_tmp
data/\#innodb_redo/\#ib_redo22_tmp
data/\#innodb_redo/\#ib_redo23_tmp
data/\#innodb_redo/\#ib_redo24_tmp
data/\#innodb_redo/\#ib_redo25_tmp
data/\#innodb_redo/\#ib_redo27_tmp
data/\#innodb_redo/\#ib_redo26_tmp
data/\#innodb_redo/\#ib_redo28_tmp
data/\#innodb_redo/\#ib_redo29_tmp
data/\#innodb_redo/\#ib_redo30_tmp
data/binlog.000009
